@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans-Web-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans-Web-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans-Web-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PT_Sans-Web-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('../fonts/PFDinDisplayPro-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('../fonts/PFDinDisplayPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@keyframes show_hidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes move_left {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: -45px;
    opacity: 1;
  }
}
@keyframes move_right {
  0% {
    right: 50%;
    opacity: 0;
  }
  100% {
    right: -45px;
    opacity: 1;
  }
}
.main_wrapper {
  display: block;
  width: 100%;
  position: relative;
  height: auto;
  overflow: hidden;
}
.home_block {
  width: 100%;
  display: block;
  position: relative;
  height: 100vh;
  margin-top: -90px;
}
.home_block_image {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.home_block_image img {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-height: 600px) {
  .home_block_image img {
    width: 100%;
    min-height: auto;
    height: auto;
    top: auto;
    bottom: -15%;
  }
}
.home_block_wrapper {
  width: 100%;
  height: 100%;
  display: block;
}
.home_block_content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.home_block h1 {
  font-size: 60px;
  font-family: ProximaNova;
  line-height: 60px;
  height: 60px;
  color: white;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .home_block h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 576px) {
  .home_block h1 {
    font-size: 36px;
    line-height: 36px;
    height: 36px;
    margin-left: 15px;
    width: 100%;
  }
}
.home_block h1:after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 80%;
  background-color: #e38b2f;
  top: -30px;
  right: 50%;
  opacity: 0;
  animation: move_right 1s 0.5s forwards;
}
.home_block h1:before {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 80%;
  background-color: #e38b2f;
  bottom: -30px;
  left: 100%;
  opacity: 0;
  animation: move_left 1.2s 0.5s forwards;
}
.home_block h2 {
  display: inline-block;
  line-height: 45px;
  font-size: 30px;
  color: #fff;
  font-family: ProximaNova;
  text-transform: uppercase;
  padding-top: 7px;
  opacity: 0;
  animation: show_hidden 1.5s 0.8s forwards;
}
@media screen and (max-width: 1024px) {
  .home_block h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  .home_block h2 {
    font-size: 16px;
    line-height: 20px;
    padding-top: 40px;
  }
}
.home_block_btns {
  margin-top: 10vh;
}
.home_block .btn {
  display: inline-block;
  height: 50px;
  line-height: 48px;
  vertical-align: center;
  text-align: center;
  font-size: 16px;
  color: white;
  padding: 0 35px;
  border: 1px solid #e38b2f;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0;
  animation: show_hidden 1.5s 1.5s forwards;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
@media screen and (max-width: 768px) {
  .home_block .btn {
    display: block;
    padding: 0;
    width: 290px;
    margin: 30px auto 0 auto;
  }
}
.home_block .btn:hover {
  color: #e38b2f;
  background-color: white;
}
.home_block .btn:nth-child(1) {
  background-color: #e38b2f;
  margin-right: 50px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
@media screen and (max-width: 768px) {
  .home_block .btn:nth-child(1) {
    margin-right: auto;
  }
}
.home_block .btn:nth-child(1):hover {
  color: #e38b2f;
  background-color: inherit;
}
.home_block_mouse {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 130px;
  height: 130px;
  background-color: black;
  border: 16px solid white;
  border-radius: 130px;
  position: absolute;
  bottom: -65px;
  left: calc(50% - 65px);
  opacity: 0;
  animation: show_hidden 2s 2.5s forwards;
}
.home_block_mouse_image {
  width: 85px;
  height: 85px;
  border: 2px solid #e38b2f;
  border-radius: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.home_block_mouse_image img {
  width: 30px;
}
.home_info {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 576px) {
  .home_info {
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  .home_info:nth-child(2) .home_info_text {
    width: 43vw;
    margin-left: 45px;
    margin-right: 0;
  }
}
@media screen and (max-width: 576px) {
  .home_info:nth-child(2) .home_info_text {
    width: 100%;
    margin-left: 15px;
  }
}
.home_info_image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .home_info_image {
    height: 250px;
  }
}
.home_info_image img {
  min-width: 100%;
  min-height: 100%;
}
@media screen and (max-width: 576px) {
  .home_info_image img {
    min-width: auto;
    min-height: auto;
    width: 100%;
  }
}
.home_info_content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}
.home_info_content:after {
  width: 1px;
  height: calc(100% - 100px);
  content: '';
  position: absolute;
  right: 28px;
  background-color: #e38b2f;
  top: 60px;
}
@media screen and (max-width: 768px) {
  .home_info_content:after {
    height: calc(100% - 85px);
  }
}
@media screen and (max-width: 576px) {
  .home_info_content:after {
    width: 75%;
    height: 1px;
    right: auto;
    left: 15px;
  }
}
.home_info_content:before {
  height: 1px;
  width: 50%;
  content: '';
  position: absolute;
  right: 28px;
  background-color: #e38b2f;
  bottom: 40px;
}
@media screen and (max-width: 768px) {
  .home_info_content:before {
    bottom: 25px;
  }
}
@media screen and (max-width: 576px) {
  .home_info_content:before {
    width: 75%;
    right: 15px;
    bottom: -15px;
  }
}
.home_info_text {
  font-family: ProximaNova;
  font-size: 18px;
  line-height: 24px;
  width: 33vw;
  position: relative;
}
@media screen and (max-width: 768px) {
  .home_info_text {
    width: 45vw;
    margin-right: 15px;
    margin-top: 70px;
  }
}
@media screen and (max-width: 576px) {
  .home_info_text {
    width: 100%;
    margin: 90px 15px 0 15px;
  }
}
.home_info_text h5 {
  font-size: 24px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .home_info_text h5 {
    margin-bottom: 30px;
  }
}
.home_info_text p {
  margin-bottom: 25px;
}
@media screen and (max-width: 576px) {
  .home_info_text p {
    margin-bottom: 20px;
  }
}
.home_info_ask {
  position: absolute;
  text-transform: uppercase;
  right: 20px;
  top: 50px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 18px;
  font-family: ProximaNova;
  letter-spacing: 3.6px;
  display: block;
  background-color: white;
  z-index: 1;
  padding-bottom: 30px;
}
@media screen and (max-width: 576px) {
  .home_info_ask {
    writing-mode: inherit;
    text-orientation: inherit;
    right: 15px;
  }
}
.home_info_ask:nth-child(3) {
  right: 50%;
  top: auto;
  bottom: 32px;
  writing-mode: inherit;
  text-orientation: inherit;
  padding-right: 30px;
  padding-bottom: 0;
}
@media screen and (max-width: 768px) {
  .home_info_ask:nth-child(3) {
    bottom: 17px;
  }
}
@media screen and (max-width: 576px) {
  .home_info_ask:nth-child(3) {
    bottom: -23px;
    right: auto;
    left: 15px;
  }
}
.home_info:nth-child(even) .row {
  flex-direction: row-reverse;
}
.home_info:nth-child(even) .home_info_ask {
  right: auto;
  left: 20px;
}
@media screen and (max-width: 576px) {
  .home_info:nth-child(even) .home_info_ask {
    right: 15px;
    left: auto;
  }
}
.home_info:nth-child(even) .home_info_ask:nth-child(3) {
  right: auto;
  left: 50%;
  padding-left: 30px;
}
@media screen and (max-width: 576px) {
  .home_info:nth-child(even) .home_info_ask:nth-child(3) {
    left: 15px;
    padding-left: 0;
  }
}
.home_info:nth-child(even) .home_info_content:after {
  right: auto;
  left: 28px;
}
@media screen and (max-width: 576px) {
  .home_info:nth-child(even) .home_info_content:after {
    left: 15px;
  }
}
.home_info:nth-child(even) .home_info_content:before {
  right: auto;
  left: 28px;
}
@media screen and (max-width: 576px) {
  .home_info:nth-child(even) .home_info_content:before {
    right: 15px;
    left: auto;
  }
}
.home_video {
  width: 100%;
  display: block;
  position: relative;
  margin-top: 120px;
}
.home_video_wrapper {
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .home_video_wrapper {
    height: 50vh;
  }
}
@media screen and (max-width: 576px) {
  .home_video_wrapper {
    height: 35vh;
  }
}
.home_video_wrapper img {
  position: absolute;
  width: 100%;
  bottom: -5%;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.home_video_wrapper .play_block {
  position: absolute;
  display: block;
  width: 62px;
  height: 62px;
  top: calc(50% - 31px);
  left: calc(50% - 31px);
  cursor: pointer;
}
.home_video_popup_video {
  position: fixed;
  display: block;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  opacity: 0;
}
.home_video_popup_video_active {
  height: 100vh;
}
.home_video_popup_video:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(45, 57, 71, 0.75);
}
.home_video_popup_video_wrapper {
  position: relative;
  width: 90%;
  margin-left: 5%;
  height: 70vh;
  margin-top: 15vh;
  overflow: hidden;
  z-index: 1;
}
.home_trainer {
  height: 90vh;
  margin-top: 120px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .home_trainer {
    height: auto;
  }
}
.home_trainer_image {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}
@media screen and (max-width: 576px) {
  .home_trainer_image {
    max-height: 350px;
  }
}
.home_trainer_image img {
  width: 100%;
  max-height: 100%;
  font-size: 0;
  line-height: 0;
}
@media screen and (max-width: 576px) {
  .home_trainer_image img {
    min-width: 100%;
    min-height: 100%;
  }
}
.home_trainer_content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 576px) {
  .home_trainer_content {
    display: block;
  }
}
.home_trainer_content:after {
  width: 1px;
  height: 50%;
  content: '';
  position: absolute;
  right: -40px;
  background-color: #e38b2f;
  bottom: 40px;
}
@media screen and (max-width: 768px) {
  .home_trainer_content:after {
    right: 40px;
    bottom: 5px;
  }
}
@media screen and (max-width: 576px) {
  .home_trainer_content:after {
    right: 10px;
  }
}
.home_trainer_content:before {
  height: 1px;
  width: 50%;
  content: '';
  position: absolute;
  right: -40px;
  background-color: #e38b2f;
  bottom: 40px;
}
@media screen and (max-width: 768px) {
  .home_trainer_content:before {
    bottom: 5px;
    right: 40px;
  }
}
@media screen and (max-width: 576px) {
  .home_trainer_content:before {
    right: 10px;
  }
}
.home_trainer_header {
  font-size: 30px;
  line-height: 30px;
  position: absolute;
  display: inline-block;
  top: 8vh;
  left: 50%;
  width: 40%;
  height: 30px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: ProximaNova;
}
@media screen and (max-width: 768px) {
  .home_trainer_header {
    top: 10px;
  }
}
@media screen and (max-width: 576px) {
  .home_trainer_header {
    display: none;
  }
}
.home_trainer_header:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 110%;
  height: 1px;
  position: absolute;
  left: -125%;
  top: 14px;
  background-color: #e38b2f;
}
@media screen and (max-width: 768px) {
  .home_trainer_header:before {
    width: 100%;
    left: -110%;
  }
}
.home_trainer_header_mob {
  display: none;
}
@media screen and (max-width: 576px) {
  .home_trainer_header_mob {
    display: inline-block;
    position: relative;
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-left: 15px;
    margin-bottom: 30px;
    font-family: ProximaNova;
  }
  .home_trainer_header_mob:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 120%;
    height: 1px;
    position: absolute;
    right: -140%;
    top: 15px;
    background-color: #e38b2f;
  }
}
.home_trainer_text {
  font-family: ProximaNova;
  font-size: 18px;
  line-height: 24px;
  width: 40vw;
}
@media screen and (max-width: 1024px) {
  .home_trainer_text {
    padding-top: 30%;
  }
}
@media screen and (max-width: 768px) {
  .home_trainer_text {
    width: 100%;
    padding: 60px 80px 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .home_trainer_text {
    width: 100%;
    padding: 20px 15px 0 15px;
  }
}
.home_trainer_text p {
  margin-bottom: 25px;
}
.home_program {
  background-color: #f4f4f4;
}
.home_program_name {
  width: 100%;
  text-align: left;
  background-color: white;
  display: block;
  font-size: 24px;
  line-height: 30px;
  padding-top: 120px;
  margin-bottom: 20px;
  font-family: ProximaNova;
  font-weight: 600;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .home_program_name {
    text-transform: inherit;
    padding-top: 80px;
  }
}
@media screen and (max-width: 576px) {
  .home_program_name {
    font-size: 24px;
    padding-top: 80px;
    text-transform: inherit;
    margin-left: 15px;
  }
}
.home_program_name span {
  font-family: ProximaNova;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .home_program_name span {
    text-transform: inherit;
  }
}
.home_program_title {
  width: 100%;
  height: 100%;
  background-color: #e38b2f;
  font-family: ProximaNova;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
}
@media screen and (max-width: 576px) {
  .home_program_title {
    height: 100px;
    border-radius: 0;
    text-align: center;
    justify-content: center;
  }
}
.home_program_title span {
  z-index: 1;
}
.home_program_title:before {
  content: '';
  width: 1000px;
  background-color: #e38b2f;
  top: 0;
  left: -990px;
  height: 100%;
  position: absolute;
}
@media screen and (max-width: 576px) {
  .home_program_title:before {
    left: -15px;
  }
}
.home_program_text {
  width: 100%;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  display: block;
  position: relative;
  font-family: ProximaNova;
  font-size: 18px;
}
@media screen and (max-width: 576px) {
  .home_program_text {
    margin-left: 15px;
  }
}
.home_program_text:first-child {
  margin-top: 25px;
}
.home_program_text:last-child {
  margin-bottom: 25px;
}
.home_program_text:after {
  content: '';
  display: block;
  position: absolute;
  left: -45px;
  bottom: 5px;
  width: calc(100% + 25px);
  height: 1px;
  background-color: black;
}
@media screen and (max-width: 576px) {
  .home_program_text:after {
    width: 100%;
    left: -15px;
  }
}
.home_program_order {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: relative;
}
.home_program_order:before {
  content: '';
  display: block;
  width: 1px;
  height: 50%;
  background-color: black;
  position: absolute;
  left: 7px;
  top: 25%;
}
@media screen and (max-width: 768px) {
  .home_program_order:before {
    left: -15%;
  }
}
@media screen and (max-width: 576px) {
  .home_program_order:before {
    display: none;
  }
}
.home_program_price {
  font-family: ProximaNova;
  font-size: 36px;
  color: black;
  margin-bottom: 30px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .home_program_price {
    font-size: 30px;
  }
}
.home_program_btn {
  display: block;
  border: 1px solid #e38b2f;
  background-color: #e38b2f;
  border-radius: 10px;
  font-family: ProximaNova;
  font-size: 24px;
  color: white;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  padding: 0 60px;
  cursor: pointer;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
@media screen and (max-width: 768px) {
  .home_program_btn {
    padding: 0 35px;
    font-size: 18px;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 576px) {
  .home_program_btn {
    margin-bottom: 30px;
  }
}
.home_program_btn:hover {
  background-color: white;
  color: #e38b2f;
}
@media screen and (max-width: 768px) {
  .home_program .fix {
    padding: 0;
  }
}
/*# sourceMappingURL=home.css.map */